{% if type == 'reviews' %}
    <div class="qarr-field">
        <a class="qarr-open-modal qarr-btn" data-type="review">{{ 'Write Review'|t('qarr') }}</a>
    </div>
{% else %}
    <div class="qarr-field">
        <a class="qarr-open-modal qarr-btn" data-type="question">{{ 'Ask Question'|t('qarr') }}</a>
    </div>
{% endif %}
